    <!--Testimonials-->
    <aside id="testimonials" class="scrollto text-center" data-enllax-ratio=".2">

        <div class="row clearfix">

            <div class="section-heading">
                <h3>FEEDBACK</h3>
                <h2 class="section-title">我们的活动</h2>
            </div>

            <!--User Testimonial-->
            <blockquote class="col-3 testimonial classic">
                <img src="images/user-images/user-1.jpg" alt="User"/>
                <q>客人 主人 仆人</q>
                <footer>2018</footer>
            </blockquote>
            <!-- End of Testimonial-->

            <!--User Testimonial-->
            <blockquote class="col-3 testimonial classic">
                <img src="images/user-images/user-2.jpg" alt="User"/>
                <q>劝诫 明辨 安慰</q>
                <footer>2020</footer>
            </blockquote>
            <!-- End of Testimonial-->

            <!--User Testimonial-->
            <blockquote class="col-3 testimonial classic">
                <img src="images/user-images/user-3.jpg" alt="User"/>
                <q>劝诫 明辨 安慰</q>
                <footer>2020</footer>
            </blockquote>
            <!-- End of Testimonial-->
