
<!--Introduction-->
<section id="about" class="introduction scrollto">

  <div class="row clearfix">

      <div class="col-3">
          <div class="section-heading">
              <h3></h3>
              <h2 class="section-title"></h2>
              <h3>我们的主</h3>
              <h3>耶稣基督</h3>
              <h3>圣父上帝</h3>
              <h3>圣灵上帝</h3>

              <p class="section-subtitle"> </p>
          </div>

      </div>

      <div class="col-2-3">

          <!--Icon Block-->
          <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.2s">
              <!--Icon-->
              <div class="icon">
                  <i class="fa fa-html5 fa-2x"></i>
              </div>
              <!--Icon Block Description-->
              <div class="icon-block-description">
                  <h4>我们的兄弟姐妹</h4>
                  <p></p>
              </div>
          </div>
          <!--End of Icon Block-->

          <!--Icon Block-->
          <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.3s">
              <!--Icon-->
              <div class="icon">
                  <i class="fa fa-bolt fa-2x"></i>
              </div>
              <!--Icon Block Description-->
              <div class="icon-block-description">
                  <h4>我们的团契</h4>
                  <p></p>
              </div>
          </div>
          <!--End of Icon Block-->

          <!--Icon Block-->
          <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
              <!--Icon-->
              <div class="icon">
                  <i class="fa fa-tablet fa-2x"></i>
              </div>
              <!--Icon Block Description-->
              <div class="icon-block-description">
                  <h4>我们的教练</h4>
                  <p></p>
              </div>
          </div>
          <!--End of Icon Block-->

          <!--Icon Block-->
          <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
            <!--Icon-->
            <div class="icon">
                <i class="fa fa-tablet fa-2x"></i>
            </div>
            <!--Icon Block Description-->
            <div class="icon-block-description">
                <h4>我们的辅导</h4>
                <p></p>
            </div>
        </div>
        <!--End of Icon Block-->

          <!--Icon Block-->
          <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
              <!--Icon-->
              <div class="icon">
                  <i class="fa fa-rocket fa-2x"></i>
              </div>
              <!--Icon Block Description-->
              <div class="icon-block-description">
                  <h4>我们的牧师</h4>
                  <p>吴皓牧师，出生于1969年， 成长在青藏高原。在重庆上中学蒙神恩召，1984年悔改信主得救。1990年毕业于北京大学
                    先后在电信集团、IT跨国公司和移动互联网企业任职。 2006年在美国加州蒙神呼召奉献做全职传道人，先后在中国大陆、
                    德国、美国田纳西、肯塔基各地从事宣教和校园福音事工。2010年起在肯塔基州路易维尔市公园东路浸信会（EPBC）
                    任国际敬拜传道，2013年被美南浸信会按立为牧师。2015受美南浸信会（SBC）北美事工部（NAMB）差派，
                    在印第安纳州西拉法叶市大学城植堂。现任西拉法叶华人浸信会主任牧师和普渡大学的校园牧师。
                  </p>
              </div>
          </div>
          <!--End of Icon Block-->

          <!--Icon Block-->
          <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
            <!--Icon-->
            <div class="icon">
                <i class="fa fa-tablet fa-2x"></i>
            </div>
            <!--Icon Block Description-->
            <div class="icon-block-description">
                <h4>社区服务</h4>
                <p></p>
            </div>
        </div>
        <!--End of Icon Block-->

      </div>

  </div>


</section>
<!--End of Introduction-->
