<!--Clients-->
<section id="clients" class="scrollto clearfix">
    <div class="row clearfix">

        <div class="col-3">

            <div class="section-heading">
                <h3>TRUST</h3>
                <h2 class="section-title">Companies who use our services</h2>
                <p class="section-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam!</p>
            </div>

        </div>

        <div class="col-2-3">

            <a href="#" class="col-3">
                <img src="assets/images/logo1.png" alt="Company"/>
                <div class="client-overlay"><span>圣经</span></div>
            </a>
            <a href="#" class="col-3">
                <img src="images/company-images/company-logo2.png" alt="Company"/>
                <div class="client-overlay"><span>查经</span></div>
            </a>
            <a href="#" class="col-3">
                <img src="images/company-images/company-logo3.png" alt="Company"/>
                <div class="client-overlay"><span>灵修</span></div>
            </a>
            <a href="#" class="col-3">
                <img src="assets/images/" alt="Company"/>
                <div class="client-overlay"><span>证道</span></div>
            </a>
            <a href="#" class="col-3">
                <img src="assets/img/logo_1.jpg" alt="Company"/>
                <div class="client-overlay"><span>祷告</span></div>
            </a>
            <a href="#" class="col-3">
                <img src="" alt="Company"/>
                <div class="client-overlay"><span>门训</span></div>
            </a>
            <a href="#" class="col-3">
                <img src="images/company-images/company-logo7.png" alt="Company"/>
                <div class="client-overlay"><span>圣经辅导</span></div>
            </a>
            <a href="#" class="col-3">
                <img src="images/company-images/company-logo8.png" alt="Company"/>
                <div class="client-overlay"><span>中文学校</span></div>
            </a>

            <a href="#" class="col-3">
                <img src="images/company-images/company-logo9.png" alt="Company"/>
                <div class="client-overlay"><span>布道宣教</span></div>
            </a>

        </div>

    </div>
</section>
<!--End of Clients-->
