<div id="header" class="nav-collapse nav-solid">
  <div class="row clearfix">
      <div class="col-1">

          <!--Logo-->
          <div id="logo">

              <!--Logo that is shown on the banner-->
              <img src="assets/img/LOGO3-2.png" id="banner-logo" alt="Landing Page"/>
              <!--End of Banner Logo-->

              <!--The Logo that is shown on the sticky Navigation Bar-->
              <img src="assets/img/LOGO3-2.png" id="navigation-logo" alt="Landing Page"/>
              <!--End of Navigation Logo-->

          </div>
          <!--End of Logo-->

          <aside>

          </aside>

          <!--Main Navigation-->
          <nav id="nav-main">
              <ul>
                  <li><a routerLink="/home">Home</a></li>
                  <li><a routerLink="/about">About</a></li>
                  <li><a routerLink="media">Media</a></li>
                  <li><a routerLink="/connect">Connect</a></li>
                  <li><a routerLink="/ministres">Ministries</a></li>
              </ul>
          </nav>
          <!--End of Main Navigation-->

          <div id="nav-trigger"><span></span></div>
          <nav id="nav-mobile"></nav>

      </div>
  </div>
</div><!--End of Header-->
